@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 0.5fr;
}

h3 {
    margin-bottom: 11px;
}

/* main grid children*/
.header {
    background-color: #EEEEEE;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 12px;
    padding: 20px;
}

.sidebar {
    background-color: #4ECCA3;
    padding: 7px;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 100px 200px 150px 1fr;
    gap: 11px;
    align-items: center;
}

.projects {
    background-color: pink;
    grid-column: 2/3;
    grid-row: 2/4;
}

.announcements ,.trending{
    background-color: white;
    color: #232931;
    font-family: "Roboto",sans-serif;
    margin: 0 12px 12px 12px;
}

.footer {
    background-color: #232931;
    grid-column: 2/4;
}

/* sidebar logo */
.logo-svg {
    margin-right: 7px;
    width: 42px;
}

.logo {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

/* sidebar main links and seconadary links*/
.main-links>div,.secondary-links>div {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 15px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Roboto',sans-serif;
}

/* sidebar links svg */
svg {
    color: #EEEEEE;
    width: 20px;
}

/* header section */
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-profile-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
}

input {
    width: 60%;
    padding: 8px;
    border-radius: 22px;
    border: none;
    background-color: white;
    margin-left: 10px;
}

input:focus {
    outline: none;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.links div {
    margin: 0 15px;
}

.user-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-name {
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

.profile-main {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    background-color: #393E46;
    color: white;
    border-radius: 25px;
    padding: 7px 36px;
}

.btn:hover {
    cursor: pointer;
}

.greeting-text {
    font-weight: 400;
}

.user-name {
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 5px;
}

.main-profile-name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 16px;
}

/* Announcement section */
.announcement-content {
    background-color: #EEEEEE;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border-radius: 10px;
    padding: 26px;
    display: flex;
    flex-direction: column;
}

hr {
    margin: 17px 0;
}

.card>h4,.user-details>h4 {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.card>p,.user-details>p {
    padding: 0;
    margin: 5px 0;
    font-weight: 100;
    font-size: 0.8rem;
}


/* Trending section */
.user-cards {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 26px;
}

.user-cards>div {
    display: flex;
    align-items: center;
}

.user-details {
    margin-left: 17px;
}

.user-card:not(:last-of-type) {
    margin-bottom: 17px;
}